    <ul class="flex justify-between mx-10 my-3">
        <li class="mr-3">
            <div class="flex flex-row justify-center">
                <img class="w-5 h-5 my-2" src="../assets/images/icon-messages.svg" alt="icon-messages" />
                <h4 class="font-bold text-2xl font-hddng">Huddle</h4>
            </div>
        </li>
        <li class="mr-3">
            <button
                class="bg-transparent w-30 h-8 text-pink cursor-pointer text-xs  font-semibold  px-4 my-1 border border-pink rounded-full">
                Try It Free
            </button>
          </li>
    </ul>
    <div class="flex self-center flex-grow  flex-col justify-center my-20">
        <h1 class="flex self-center text-center font-hddng font-bold mb:text-3xl text-5xl">
            Build The Community Your Fans Will Love
        </h1>
        <p class="w-2/5 my-3 text-base mb:text-sm font-normal mb:w-84p font-hddng text-center self-center">
            Huddle re-imagines the way we build communities. You have a voice, but so does your auidence. Create connections with your users as you engage in genyine discussion.
        </p>
        <button class="bg-pink self-center  my-3  shadow-md text-white w-64 py-2 px-4 rounded-full">
            Get Started For Free
          </button>
          <img class="w-2/4 h-auto self-center"  src="../assets/images/screen-mockups.svg" alt="screen-mockups">
          <div class="flex flex-row justify-between mb:flex-col my-10 w-2/4 self-center">
              <div class="flex flex-col mb:self-center">
                  <img class="w-5 h-5" src="../assets/images/icon-communities.svg" alt="icon-communities">
                <h1 class="font-bold text-5xl font-hddng">
                    1.4k+
                </h1>
                <p class="text-xs self-center text-gray">Communities Formed</p>
              </div>
              <div class="flex flex-col mb:my-5 mb:self-center">
                <img class="w-5 h-5" src="../assets/images/icon-messages.svg" alt="icon-messages">
                <h1 class="font-bold text-5xl font-hddng">
                    2.7m+
                </h1>
                <p class="text-xs self-center mb:self-center text-gray">Messages Sent</p>
            </div>
          </div>
          <div class="">
              <img class="w-full" src="../assets/images/bg-section-top-desktop-1.svg" alt="dt1">
              <div class="bg-paleblue flex flex-row justify-center self-center mb:justify-center mb:self-center mb:flex-col-reverse mb:py-5">
                <span class=" flex flex-col self-center mb:self-center mb:justify-center">
                    <h1 class="font-semibold text-2xl w-2/3 self-center mb:self-center mb:text-center">
                        Grow Together
                    </h1>
                    <p class="w-2/3 my-3 font-normal self-center mb:text-center mb:text-sm mb:w-84p">
                        Generate meaningful discussion with your audience and build a strong,liyal community. Think of the insightful conversations you miss out on with a feedback form.
                    </p>
                </span>
                <img class="w-2/4 mx-24 mb:py-10" src="../assets/images/illustration-grow-together.svg" alt="illustration-grow-together">
              </div>
              <img class="w-full" src="../assets/images/bg-section-bottom-desktop-1.svg" alt="db1">
          </div>
          <div class="flex flex-row my-24 mb:flex-col mb:my-0">
              <img class="w-2/4 mx-24 mb:my-16 mb:h-7/12" src="../assets/images/illustration-flowing-conversation.svg" alt="illustration-flowing-conversation">
              <span class=" flex flex-col self-center">
                <h1 class="font-semibold text-2xl w-3/4 self-center  mb:text-center ">
                   Flowing Conversations
                </h1>
                <p class="w-3/4 font-normal my-3 self-center mb:text-sm mb:text-center mb:w-11/12 mb:my-5">
                    You wouldn't paginate a conversation in real life, so why do it online? Our threads have just-in time loading for a more natural flow.
                </p>
            </span>
          </div>
          <div>
              <img class="w-full" src="../assets/images/bg-section-top-desktop-2.svg" alt="bg-section-top-desktop-2">
              <div class="bg-paleblue flex flex-row justify-center self-center mb:flex-col-reverse">
                <span class=" flex flex-col self-center">
                    <h1 class="font-semibold text-2xl w-2/3 self-center  mb:text-center">
                        Your Users
                    </h1>
                    <p class="w-2/3 font-normal my-3 self-center mb:text-center mb:text-sm mb:w-11/12">
                        It takes no time at all to integrate Huddle with your app's authentication solution. This means, once signed in to your app,your users can start chatting immediately.
                    </p>
                </span>
                <img class="w-2/4 mx-24 mb:my-10" src="../assets/images/illustration-your-users.svg" alt="illustration-grow-together">
              </div>
              <img class="w-full" src="../assets/images/bg-section-bottom-desktop-2.svg" alt="bg-section-bottom-desktop-2">
          </div>
          <div class="my-16 self-center flex flex-col justify-center">
            <h1 class="flex self-center text-center my-5 font-hddng font-semibold text-3xl">
                Ready To Build Your Community?
            </h1>
            <button class="bg-pink self-center text-sm  font-normal shadow-md text-white w-64 py-2 px-4 rounded-full">
                Get Started For Free
              </button>
          </div>

    </div>
    <div class="pin-b">
        <img class="w-full" src="../assets/images/bg-footer-top-desktop.svg" alt="bg-footer-top-desktop">
        <div class="flex text-white flex-row bg-DarkCyan justify-between self-center mb:flex-col-reverse">
          <span class="self-center w-full flex  flex-col px-12 mb:px-5">
              <div class="flex px-3 flex-row justify-center">
                  <img class="w-5 h-5  my-2" src="../assets/images/icon-messages.svg" alt="icon-messages" />
                  <h4 class="font-semibold w-full  text-2xl font-hddng">Huddle</h4>
              </div>
              <p class="w-6/12 font-normal text-xs px-3 py-3 mb:text-sm mb:w-21r">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia ullam amet vero, deleniti eius laborum! Fugit vitae id
              </p>
              <div class="flex flex-row cursor-pointer" onclick="javascript:location.href='tel:+13174562564'">
              <img class="w-auto h-3 self-center px-3" src="../assets/images/icon-phone.svg" alt="icon-phone">
              <h1>Phone:+1-543-123-4567</h1>
              </div>
              <div class="flex flex-row  cursor-pointer">
                  <img class="w-auto self-center h-3 px-3" src="../assets/images/icon-email.svg" alt="icon-email">
              <h1>example@huddle.com</h1>
              </div>
              <div class="flex flex-row py-3 mb:invisible">
                  <i class="fab cursor-pointer fa-facebook-square mx-3"></i>
                  <i class="fab cursor-pointer fa-instagram "></i>
                  <i class="fab cursor-pointer fa-twitter-square mx-3"></i>
              </div>
          </span>

          <span class=" justify-center w-54 mb:w-auto mb:mx-8">
              <div class="flex flex-col self-center">
                  <h1 class="my2">
                      NEWSLETTER
                  </h1>
                  <p class="w-64p font-normal text-xs py-3 mb:w-5/6">
                      To recieve tips on how to grow your community, sign up to our weekly newsletter. We'll never send you spam or pass on your email address
                  </p>
                      <form class="flex flex-row mb:flex-col" action="#">
                      <input class="bg-white w-48 text-black h-8 px-3 rounded-lg mb:w-11/12 "  type="email"/>
                      <input class="mx-5 bg-pink self-center w-auto mb:my-5 h-8 shadow-md cursor-pointer text-sm text-white rounded-lg mb:self-end px-4" type="button" value="Subscribe">
                      </form>
              </div>
          </span>

        </div>



    </div>
<router-outlet></router-outlet>
